.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin: 30px 0;
}

.weather-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.weather-app h1 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(255, 206, 59);
  font-size: 40px;
}

.weather-app select {
  border: none;
  background-color: rgb(255, 237, 183);
  border-radius: 5px;
  padding: 10px;
  width: 40%;
  font-size: medium;
  font-weight: 500;
  color: rgb(91, 91, 91);
}
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #efefef;
  box-shadow: 6px 6px 14px #ddd, -6px -6px 14px #fff;
  border-radius: 25px;
  width: 130px;
  margin: 0 auto;
  padding: 15px 10px;
}

.weather-list {
  border: none;
  border-radius: 5px;
  background-color: #efefef;
  box-shadow: 6px 6px 14px #ddd, -6px -6px 14px #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}

.weather-card {
  border: 1px solid rgb(255, 210, 76);
  border-radius: 5px;
  width: 10%;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select {
  border: 2px solid rgb(255, 163, 101);
  background-color: rgb(255, 236, 180);
}
